.sign-in-page {
  .main {
    background-color: #12002b;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .sign-in-content {
      background: #fff;
      padding: 30px;
      border-radius: 8px;
      text-align: center;
      width: 300px;
      border-radius: 0%;

      .sign-in-icon {
        color: #2c3e50;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }

      .input-wrapper {
        margin-bottom: 15px;
        text-align: left;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        input {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
      }

      .input-remember {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        input {
          margin-right: 10px;
        }
      }

      .sign-in-button {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 1rem;
        border-color: #00bc77;
        background-color: #00bc77;
        color: #fff;
        border-radius: 0%;
    
      }
    }
  }
}
